.allocationCount {
    min-width: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.resetSection {
    align-items: center;
    display: flex;
    gap: 16px;
}

.tableCellBoosters {
    display: flex;
    gap: 8px;
    justify-content: center;
}
