.listHeaders, {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;

    div:first-child {
        min-width: 50px;
    }

    div:last-child {
        align-items: center;
        display: flex;
        flex-grow: 1;
        gap: 4px;
        justify-content: flex-end;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin: 0;
    max-height: 160px;
    overflow-y: scroll;
    padding: 0;

    .muted {
        color: #666;
    }

    li {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 16px;

        div:first-child {
            min-width: 50px;
        }

        div:last-child {
            align-items: center;
            display: flex;
            flex-grow: 1;
            gap: 4px;
            justify-content: flex-end;

            .allocationCount {
                display: flex;
                justify-content: flex-end;
                min-width: 20px;
            }
        }
    }
}
