.setSelectionListItem {
    align-items: center;
    display: flex;
    gap: 4px;

    input,
    label {
        cursor: pointer;
    }

    input:disabled,
    input:disabled + label {
        color: #898989;
        cursor: not-allowed;
        text-decoration: line-through;
    }
}
