html,
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 8px;
}

h1,
h2,
h3,
hr,
p,
ul {
    margin: 0
}

button:enabled,
select:enabled {
    cursor: pointer;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

hr {
    background-color: white;
    border: none;
    height: 2px;
    width: 100%;
}