.numberInput {
    min-width: 5ch;
}

.setCodesSelection {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    list-style: none;
    margin: 0;
    padding: 0;
}

.setCodeListItem {
    align-items: center;
    display: flex;
    gap: 4px;

    input,
    label {
        cursor: pointer;
    }

    input:disabled,
    input:disabled + label {
        color: #898989;
        cursor: not-allowed;
        text-decoration: line-through;
    }
}
